.logo {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    display: inline-flex;
}
.logo-dot {
    color: #824FF1;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;  
}

.main-title {
    font-family: "Ramaraja", serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 203px;
    max-width: 600px;
    max-height: 152px;
    margin-left: 200px;
}

.navigation {
  margin: 0 auto; 
}

.navigation ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1B0A42;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #1b1454; 
}

.auth ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    align-items: center;
    margin-right: 48px;
}   

.nav-signin {
  text-decoration: none;
  color: #1b1454;
}

.nav-signup {
  padding: 12px 20px;
  border-radius: 6px;
  background: #7c5cff;
  color: #FFFFFF;
  text-decoration: none;
}

.main-info {
    max-width: 590px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #9A9A9A; 
    line-height: 32px;
}

.main-btn {  
    margin-left: 200px;
    margin-top: 50px;
    width: 153px;
    height: 64px;
    background: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

img {
    max-width: 821px;
    width: 100%;
    margin-left: 785px;
    margin-top: -600px;
}
